
<img src="{{ url_for('static', filename='images/Corgi.jpg')}}" alt="images"  />

<div class="layer mix-bgColor_white mix-textColor_neutral95 layer_collapseTop">
	<div class="layer-container">
		<div class="quarantine">
			


            <p><span><span><span class="introText">The Corgi is a low-set herding dog that also makes an agreeable house dog. There are two distinct breeds of Corgis: The Cardigan Welsh Corgi and the Pembroke Welsh Corgi.</span> </span></span></p>

<h2><span><span>Temperament</span></span></h2>

<p><span><span>The Corgi is affectionate, loyal, smart and alert.</span></span></p>

<h2><span><span>Characteristics</span></span></h2>

<p><span><span>The Corgi is whip-smart, so their owners should be, too. They’re loyal and obedient, easily trained and can adapt to many living situations. Corgis are especially fond of kids and are agreeable with other pets.</span></span></p>

<p><span><span>Corgis make better exercise buddies than they appear, as they were originally bred to drive livestock. They’re fast, powerful and have impressive endurance. Their herding background means they also love having a job. Corgis are a vocal breed and vigilant guardian with a “big dog” bark.</span></span></p>

<p><span><span>They love the outdoors and thrive on mental stimulation and physical activity. Many Corgis are good at agility, obedience, herding and tracking activities.</span></span></p>

<h2><span><span>Lifespan</span></span></h2>

<p><span><span>12 to 14 years</span></span></p>

<h2><span><span>Colors</span></span></h2>

<p><span><span>The Corgi’s coat comes in a variety of colors, including black and tan, fawn, red, blue merle, brindle, grey, liver, red merle, sable merle, white merle and sable. </span></span></p>

<h2><span><span>Shedding</span></span></h2>

<p><span><span>Corgis have a double coat that sheds daily. Shedding increases during late spring/early summer. </span></span></p>

<h2><span><span>Health</span></span></h2>

<p><span><span>Corgis may experience health conditions such as hip dysplasia, progressive retinal atrophy (PRA) and degenerative myelopathy. </span></span></p>

<p><span><span>Their “long and low” body style also makes them susceptible to back issues. As they age, you may need to assist them in jumping down off the bed or couch and be careful with stairs. </span></span></p>

<h2><span><span>Best Dog Food For Corgis</span></span></h2>

<p><span><span>When it comes to choosing the best dog food for your Corgi, it’s important to take his or her unique breed traits into consideration. Since Corgis are an active breed, choose a food formulated to maintain their energy levels and ideal body condition.</span></span></p>

<p><span><span>Dog Foods for Corgis:</span></span></p>

<ul><li><span><span><a href="https://www.proplan.com/dogs/products/sport-all-life-stages-active-2616-formula-for-all-life-stages">Purina Pro Plan SPORT Active 26/16</a></span></span></li>
	<li><span><span><a href="https://www.dogchow.com/en/dog/products/complete-real-chicken-dog-food">Purina Dog Chow Complete Adult</a></span></span></li>
	<li><span><span><a href="https://www.purina.com/purina-one/dogs/dog-food">Purina One SmartBlend Adult</a> </span></span></li>
	<li><span><span><a href="https://www.beneful.com/products/dry-dog-food/real-beef-egg-playful-life">Beneful Playful Life</a></span></span></li>
</ul><h2><span><span>Best Dog Food For Corgi Puppies</span></span></h2>

<p><span><span>When choosing a food for your Corgi puppy, remember puppies of any breed have specific nutritional needs during their time of development. A formula with DHA nourishes brain and vision development and antioxidants support their developing immune system so they thrive during their first year of life. </span></span></p>

<p><span><span>The following foods meet the needs of a growing Corgi puppy:</span></span></p>

<ul><li><span><span><a href="https://www.beneful.com/products/dry-dog-food/real-chicken-healthy-puppy">Beneful Healthy Puppy</a></span></span></li>
	<li><span><span><a href="https://www.dogchow.com/puppy/products/puppy-food">Purina Puppy Chow</a> </span></span></li>
	<li><span><span><a href="https://www.purinaone.com/dogs/products/puppy-food">Purina One SmartBlend Healthy Puppy</a> </span></span></li>
	<li><span><span><a href="https://www.proplan.com/dogs/products?lifestage=puppy">Purina Pro Plan FOCUS Puppy</a> </span></span></li>
	<li><span><span><a href="https://www.proplan.com/dogs/products/sport-all-life-stages-performance-3020-formula">ALS PP Sport 30/20</a></span></span></li>
	<li><span><span><a href="https://www.proplan.com/dogs/products/sport-all-life-stages-active-2616-formula-for-all-life-stages">ALS PP Sport 26/16</a></span></span></li>
</ul><h2><span><span>History</span></span></h2>

<p><span><span>The Cardigan Welsh Corgi is named for the medieval kingdom of Cardiganshire, Wales, and is the older of the two Corgi breeds. In fact, they’re the oldest of all British breeds. </span></span></p>

<p><span><span>Cardigans are thought to have been brought from Central Europe to Wales by the Celts around 3,000 years ago, and Corgis were driving Welsh herds 1,000 years ago.</span></span></p>

<p><span><span>During the dog’s long history, Cardigans have worked as an all-around farm dog, hunting partner, family protector and athlete. Their low-to-the-ground profile allows them to nip at the heels of cattle and avoid getting kicked, making them a great herding breed. They also serve as a flock guardian at night. </span></span></p>

<p><span><span>Pembroke Corgis came to Britain in 1107, when Henry I invited a community of weavers to live and work in southwestern Wales. This community of master craftsmen brought with them the dogs they bred to herd cattle and sheep. </span></span></p>

<p><span><span>Cardigans and Pembrokes were at one time interbred, until they were recognized as separate breeds after 1934.</span></span></p>

<h2><span><span>Facts</span></span></h2>

<ul><li><span><span>You can tell the difference between the Pembroke Welsh Corgi and the Cardigan Welsh Corgi by looking at their ears and tails. Cardigans have rounded ears and long tails, whereas Pembrokes have pointed ears and naturally bobbed tails. </span></span></li>
	<li><span><span>The world’s most famous Pembroke Corgi fan is Elizabeth II, who got her first Pembroke, Dookie, in 1933.</span></span></li>
	<li><span><span>The Cardigan springs from the same line of dogs as the Dachshund.</span></span></li>
	<li><span><span>The Pembroke is the more popular of the two Corgis.</span></span></li>
</ul>
    
		</div>
	</div>
</div>
