<img src="{{ url_for('static', filename='images/Ragdoll.jpg')}}" alt="images"  />
<div class="layer mix-bgColor_white mix-textColor_neutral95 layer_collapseTop">
	<div class="layer-container">
		<div class="quarantine">
			


            <p><span class="introText">Ragdolls are loving, smart and playful. They show affection to their people by greeting them, following them around, sitting in their laps and snuggling in bed. Ragdoll cats can also learn tricks and certain behaviors with positive reinforcement.</span></p>

<h2>Temperament </h2>

<p>They may come when called and can even learn to play fetch. This sweet but playful feline prefers to remain on the same level as her people, rather than perched atop a bookcase or shelf. She’s good with children, other cats and dogs.</p>

<h2>Characteristics</h2>

<p>Ragdolls are one of the largest domestic cat breeds. They have a large head in a softer wedge shape than the sharp angular face of the Siamese.</p>

<p>With a long, soft coat, oval-shaped blue eyes and medium-sized ears with rounded tips, their appearance matches their docile personality. They have a solid neck with a large and long, yet solid body, supported by a sturdy bone structure.</p>

<h2>Lifespan</h2>

<p>12 to 17</p>

<h2>Colors</h2>

<p>With point coloring similar to the Himalayan or Siamese breed, Ragdolls have light-colored bodies with darker extremities. With a color palette ranging from seal to blue to chocolate to cinnamon and more, the combinations of colors and patterns are almost endless. Ragdolls also have distinct blue eyes.</p>

<h2>Shedding</h2>

<p>Because Ragdoll Cats have little undercoat, they shed moderately throughout the year and more heavily in spring and fall. This also means less matting, but regular brushing is still necessary to keep the coat smooth, soft and free of tangles, mats and dead hair. If you’re gentle, your Ragdoll will adore the attention during grooming.</p>

<h2>Health</h2>

<p>Although DNA tests exist to help breeders weed out certain health problems, some complications may still arise for a Ragdoll. She may develop bladder stones or hypertrophic cardiomyopathy, a form of heart disease. Ragdolls also have a predisposition for feline infectious peritonitis.</p>

<h2>Choosing the Best Food for Ragdoll Cats</h2>

<p>Because of their large size, Ragdoll owners must provide their cats with a complete and balanced diet and plenty of playful exercise to maintain a healthy weight. Dry cat food options like <a href="/cat-chow/dry-cat-food/indoor">Purina Cat Chow Indoor</a>, <a href="/purina-one/cats/healthy-weight-cat-food">Purina ONE Healthy Metabolism</a>, Purina ONE Indoor Advantage or <a href="/pro-plan/cats/dry-cat-food/focus-weight-management-chicken-rice">Pro Plan Focus Weight Management Chicken &amp; Rice Formula</a> can aid in weight management to keep your Ragdoll kitty happy and healthy. Supplementing with wet cat food like <a href="/pro-plan/cats/wet-cat-food/focus-weight-management-turkey-rice-ground">Pro Plan Weight Management Turkey &amp; Rice Entrée Ground</a> or <a href="/pro-plan/cats/wet-cat-food/focus-indoor-care-salmon-rice-sauce">Pro Plan Indoor Care Salmon &amp; Rice Entrée in Sauce</a> can help provide hydration for her most active days.   </p>

<p>To explore other products for your Ragdoll, see our <a href="https://www.purina.com/cats/cat-products/product-selector">Product Selector</a>.</p>

<h2>Choosing the Best Food for Ragdoll Kittens</h2>

<p>Ragdoll kittens don’t reach full maturity until they’re 3 to 4 years of age, but they should transition to an adult food before then. Your veterinarian can advise you when to make this transition. A kitten food that meets her unique nutritional needs during development will help her grow healthy and strong. Consider <a href="/pro-plan/cats/kitten-food">Pro Plan Focus Kitten Dry &amp; Wet Formulas</a> for your growing Ragdoll kitten. </p>

<h2>History</h2>

<p>Ann Baker, a breeder in California, developed the breed in the early 1960s using free-roaming cats she found in her neighborhood. As time went on, she grew eccentric and other breeders broke distanced themselves to maintain the integrity of the breed.</p>

<p>In 1993, the breed was registered with the Cat Fanciers Association (CFA), receiving full recognition in 2000. The American Cat Fanciers Association (ACFA) and The International Cat Association (TICA) also recognized the breed.</p>

<h2>Facts</h2>

<ul><li>Ragdolls aren’t bred with any other breeds.</li>
	<li>These felines get their name from the way they collapse limply into the arms of anyone holding them.</li>
	<li>Ann Baker, the breeder credited with their origin, made outlandish claims about the Ragdoll, including influence from aliens, CIA experiments and infusions of human genes.</li>
</ul>
    
		</div>
	</div>
</div>